html[b-37uokmpla3], body[b-37uokmpla3] {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#sidebar[b-37uokmpla3] {
    width: 264px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    z-index: 1000;
    color: white;
}
#sidebar-toggle[b-37uokmpla3] {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1050;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.content[b-37uokmpla3] {
    margin-left: 264px;
    padding: 20px;
}

.main[b-37uokmpla3] {
    flex-grow: 1;
}

.footer[b-37uokmpla3] {
    margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
